{% extends 'layouts/page-layout.html.twig' %}
{% set title = banquetHall.title(app.request.locale) %}
{% set navigation_active = 'banquet_halls' %}

{% block main %}
    <div class="banquet-hall-page">
        <div class="container top-container">
            <div class="content">
                <h2 class="content-title">{{ banquetHall.title(app.request.locale) }}</h2>
                <p class="description">{{ banquetHall.description(app.request.locale) }}</p>
                <div id="images" class="images">
                    <div data-src="{{ vich_uploader_asset(banquetHall.photos.first(), 'file') }}" class="image-container main-image">
                        <img alt="{{ banquetHall.title(app.request.locale) }}" src="{{ vich_uploader_asset(banquetHall.featuredPhoto, 'file') }}"/>
                    </div>
                    <div class="thumbnails">
                        {% for photo in banquetHall.photos %}
                            <div data-src="{{ vich_uploader_asset(photo, 'file') }}" class="image-container thumbnail">
                                <img alt="{{ banquetHall.title(app.request.locale) }}" src="{{ vich_uploader_asset(photo, 'file') }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="side">
                <div class="card">
                    <div class="card-content">
                        <div class="card-details">
                            <h4 class="card-title">{{ 'titles.contact_details' | trans }}</h4>
                            <div class="details">
                                <div class="labels-container">
                                    <span class="label">{{ 'labels.email' | trans }}: </span>
                                    <span class="label">{{ 'labels.phone' | trans }}: </span>
                                    <span class="label">{{ 'labels.address' | trans }}: </span>
                                </div>
                                <div class="values-container">
                                    <a class="value" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a>
                                    <a class="value" target="_blank" href="tel:{{ location.phone }}">{{ location.phone }}</a>
                                    <a class="value" target="_blank" href="https://www.google.lt/maps/place/{{ location.address }}">{{ location.address }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-details perks">
                            <h3 class="card-title">{{ 'titles.details' | trans }}</h3>
                            <span class="details-item">{{ 'labels.people_count' | trans }}: {{ banquetHall.peopleCount }}</span>
                            <a class="button button-primary button-small" target="_blank" href="mailto:{{ location.email }}">{{ 'room.book' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}