{% extends 'layouts/page-layout.html.twig' %}
{% set title = 'contacts.title' | trans %}
{% set navigation_active = 'contacts' %}

{% block main %}
    <div class="contacts-page">
        <div class="container">
            <div class="content">
                <h2 class="title">{{ 'contacts.get_in_touch' | trans }}</h2>
                <p class="description">{{ 'contacts.get_in_touch_description' | trans }}</p>
                <form class="contacts-form">
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                   <div class="row">
                       <div class="form-group">
                           {{ form_label(form.phone) }}
                           {{ form_widget(form.phone) }}
                           {{ form_errors(form.phone) }}
                       </div>
                       <div class="form-group">
                           {{ form_label(form.subject) }}
                           {{ form_widget(form.subject) }}
                           {{ form_errors(form.subject) }}
                       </div>
                   </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                    <div class="button-row">
                        <button class="button button-primary">{{ 'contacts.send_message' | trans }}</button>
                    </div>
                </form>
            </div>
            <div class="side">
                <div class="card">
                    <div class="card-content">
                        <div class="card-details">
                            <h4 class="card-title">{{ 'titles.contact_details' | trans }}</h4>
                            <div class="details">
                                <div class="labels-container">
                                    <span class="label">{{ 'labels.email' | trans }}: </span>
                                    <span class="label">{{ 'labels.phone' | trans }}: </span>
                                    <span class="label">{{ 'labels.address' | trans }}: </span>
                                </div>
                                <div class="values-container">
                                    <a class="value" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a>
                                    <a class="value" target="_blank" href="tel:{{ location.phone }}">{{ location.phone }}</a>
                                    <a class="value" target="_blank" href="https://www.google.lt/maps/place/{{ location.address }}">{{ location.address }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-details">
                            <h4 class="card-title">{{ 'contacts.details' | trans }}</h4>
                            <div class="details">
                                <div class="labels-container">
                                    <span class="label">{{ 'labels.company_name' | trans }}: </span>
                                    <span class="label">{{ 'labels.company_code' | trans }}: </span>
                                    <span class="label">{{ 'labels.company_vat' | trans }}: </span>
                                    <span class="label">{{ 'labels.company_iban' | trans }}: </span>
                                    <span class="label">{{ 'labels.company_bank' | trans }}: </span>
                                </div>
                                <div class="values-container">
                                    <span class="value">{{ location.companyName }}</span>
                                    <span class="value">{{ location.companyCode }}</span>
                                    <span class="value">{{ location.companyVAT }}</span>
                                    <span class="value">{{ location.companyIban }}</span>
                                    <span class="value">{{ location.companyBank }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}