{% extends 'layouts/page-layout.html.twig' %}
{% set title = location.title(app.request.locale) %}
{% set navigation_active = 'home' %}

{% block main %}
    <div class="home-page">
        <div class="container sections">
            <section class="section frame">
                {% include 'includes/about-us-widget.html.twig' with {location: location} %}
            </section>
            {% if articles | length > 0 %}
                <section class="section frame">
                    <span class="section-caption">{{ 'home.find_out_about_our_events' | trans }}</span>
                    <h2 class="section-title">{{ 'titles.news' | trans }}</h2>
                    {% include 'includes/news-articles.html.twig' with {articles: articles} %}
                </section>
            {% endif %}
            {% if hotels | length > 0 %}
                <section class="section frame">
                    <span class="section-caption">{{ 'home.find_place_to_stay' | trans }}</span>
                    <h2 class="section-title">{{ 'titles.hotels' | trans }}</h2>
                    {% include 'includes/hotels.html.twig' with {hotels: hotels} %}
                </section>
            {% endif %}
            {% if banquetHalls | length > 0 %}
                <section class="section frame">
                    <span class="section-caption">{{ 'home.find_place_to_celebrate' | trans }}</span>
                    <h2 class="section-title">{{ 'titles.banquet_halls' | trans }}</h2>
                    {% include 'includes/banquet-halls.html.twig' with {banquetHalls: banquetHalls} %}
                </section>
            {% endif %}
            {% if galleries | length > 0 %}
                <section class="section frame">
                    <span class="section-caption">{{ 'home.look_around_from_home' | trans }}</span>
                    <h2 class="section-title">{{ 'titles.galleries' | trans }}</h2>
                    {% include 'includes/galleries.html.twig' with {galleries: galleries} %}
                </section>
            {% endif %}
        </div>
        {% if reviews | length > 0 %}
            <section class="section reviews-sections">
                <span class="section-caption">{{ 'home.find_out_what_other_think_about_us' | trans }}</span>
                <h2 class="section-title">{{ 'titles.reviews' | trans }}</h2>
                {% include 'includes/reviews.html.twig' with {reviews: reviews} %}
            </section>
        {% endif %}
    </div>
{% endblock %}