{% extends 'layouts/page-layout.html.twig' %}
{% set title = room.title(app.request.locale) %}
{% set navigation_active = 'hotel_' ~ hotel.id %}
{% set hero_longitude = hotel.longitude %}
{% set hero_latitude = hotel.latitude %}

{% block main %}
    <div class="room-page">
        <div class="container top-container">
            <div class="content">
                <h2 class="content-title">{{ room.title(app.request.locale) }}</h2>
                <p class="description">{{ room.description(app.request.locale) }}</p>
                <div id="images" class="images">
                    <div data-src="{{ vich_uploader_asset(room.featuredPhoto, 'file') }}" class="image-container main-image">
                        <img alt="{{ room.title(app.request.locale) }}" src="{{ vich_uploader_asset(room.featuredPhoto, 'file') }}"/>
                    </div>
                    <div class="thumbnails">
                        {% for photo in room.photos %}
                            <div data-src="{{ vich_uploader_asset(photo, 'file') }}" class="image-container thumbnail">
                                <img alt="{{ room.title(app.request.locale) }}" src="{{ vich_uploader_asset(photo, 'file') }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="subtitle">{{ 'titles.similar_rooms' | trans }}</h3>
                {% include 'includes/rooms.html.twig' with {rooms: similarRooms} %}
            </div>
            <div class="side">
                <div class="card">
                    <div class="card-content">
                        <div class="card-details">
                            {% if room.hotel.logo %}
                                <img src="{{ vich_uploader_asset(room.hotel.logo, 'file') }}" class="card-logo" alt="{{ room.hotel.title(app.request.locale) }}"/>
                            {% endif %}
                            <h3 class="card-title">{{ room.hotel.title(app.request.locale) }}</h3>
                            <div class="card-caption-container">
                                <i class="fa fa-map-marker"></i>
                                <a target="_blank" href="https://www.google.lt/maps/place/{{ room.hotel.address }}" class="card-caption">{{ room.hotel.address }}</a>
                            </div>
                            <div class="card-caption-container">
                                <i class="fa fa-envelope"></i>
                                <a target="_blank" href="mailto:{{ room.hotel.email }}" class="card-caption">{{ room.hotel.email }}</a>
                            </div>
                            <div class="card-caption-container">
                                <i class="fa fa-phone"></i>
                                <a target="_blank" href="tel:{{ room.hotel.phone }}" class="card-caption">{{ room.hotel.phone }}</a>
                            </div>
                            <p class="card-description">{{ room.hotel.description(app.request.locale) }}</p>
                            <a target="_blank" href="https://www.google.lt/maps/place/{{ room.hotel.address }}" class="button button-primary button-small">{{ 'room.get_directions' | trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-details perks">
                            <h3 class="card-title">{{ 'titles.perks' | trans }}</h3>
                            {% for perk in room.perks %}
                                <span class="perk">{{ perk.title(app.request.locale) }}</span>
                            {% endfor %}
                            <span class="card-price">{{ room.price | priceFormat }}</span>
                            <a target="_blank" href="{{ room.orderUrl }}" class="button button-primary button-small">{{ 'room.book' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}