{% extends 'layouts/page-layout.html.twig' %}
{% set title = room.title(app.request.locale) %}
{% set navigation_active = 'room_category_' ~ category.id %}

{% block main %}
    <div class="room-page">
        <div class="container top-container">
            <div class="content">
                <h2 class="content-title">{{ room.title(app.request.locale) }}</h2>
                <p class="description">{{ room.description(app.request.locale) }}</p>
                <div id="images" class="images">
                    <div data-src="{{ vich_uploader_asset(room.photos.first(), 'file') }}" class="image-container main-image">
                        <img alt="{{ room.title(app.request.locale) }}" src="{{ vich_uploader_asset(room.featuredPhoto, 'file') }}"/>
                    </div>
                    <div class="thumbnails">
                        {% for photo in room.photos %}
                            <div data-src="{{ vich_uploader_asset(photo, 'file') }}" class="image-container thumbnail">
                                <img alt="{{ room.title(app.request.locale) }}" src="{{ vich_uploader_asset(photo, 'file') }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="subtitle">{{ 'titles.location' | trans }}</h3>
                <a target="_blank" href="https://www.google.lt/maps/place/{{ room.latitude }},{{ room.longitude }}" class="description">{{ room.address(app.request.locale) }}</a>
                <div id="map" data-longitude="{{ room.longitude }}" data-latitude="{{ room.latitude }}" class="map"></div>
            </div>
            <div class="side">
                <div class="side-content">
                    <div class="perks">
                        <h3 class="subtitle">{{ 'titles.perks' | trans }}</h3>
                        {% for perk in room.perks %}
                            <span class="perk">{{ perk.title(app.request.locale) }}</span>
                        {% endfor %}
                    </div>
                    <span class="price">{{ room.price | priceFormat }}</span>
                    <a target="_blank" href="{{ room.orderUrl }}" class="button button-primary">{{ 'room.book' | trans }}</a>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="subtitle">{{ 'titles.similar_rooms' | trans }}</h3>
            {% include 'includes/rooms.html.twig' with {rooms: similarRooms} %}
        </div>
    </div>
{% endblock %}