<form class="restaurant-form form" method="post" novalidate>
    <div class="form-group">
        {{ form_label(form.address) }}
        {{ form_widget(form.address) }}
        {{ form_errors(form.address) }}
    </div>
    <div class="block-footer">
        <button type="submit" class="button button-primary">{{ 'admin.buttons.save' | trans }}</button>
    </div>
    {{ form_row(form._token) }}
</form>