{% extends 'admin/layouts/sidebar-layout.html.twig' %}
{% set sidebar_active = 'restaurants' %}

{% block content %}
    <div class="restaurants-page" id="restaurants-page">
        <div class="content">
            <div class="header-container">
                <h1 class="title">{{ 'admin.titles.restaurants' | trans }}</h1>
                <div class="actions-container">
                    <a href="{{ path('admin restaurant add') }}" class="button button-primary">{{ 'admin.buttons.add_restaurant' | trans }}</a>
                </div>
            </div>
            <div class="scrollable-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="center large">{{ 'admin.labels.created' | trans }}</th>
                        <th class="extra-small center">{{ 'admin.labels.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for restaurant in restaurants %}
                        <tr>
                            <td class="center">{{ restaurant.created | dateTimeFormat }}</td>
                            <td class="center">
                                <div class="actions">
                                    <a class="action" href="{{ path('admin restaurant edit', {id: restaurant.id}) }}">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a class="action" href="{{ path('admin restaurant delete', {id: restaurant.id}) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}