<footer class="footer">
    <div class="container">
        <div class="top">
            <div class="side">
                <a class="logo-container">
                    <img class="logo" alt="Floros simfonija" src="{{ asset('images/logo-white.png') }}"/>
                </a>
                {% include 'includes/locales.html.twig' %}
            </div>
            {% include 'includes/social.html.twig' %}
        </div>
        <div class="middle">
            <div class="content">
                <h4 class="title">{{ 'footer.about_us' | trans }}</h4>
                <p class="description">{{ 'footer.about_us_description' | trans }}</p>
                <a href="{{ path('location about us', {id: location.id}) }}" class="link">{{ 'footer.read_more' | trans }}</a>
            </div>
            <div class="content">
                <h4 class="title">{{ 'footer.contact_info' | trans }}</h4>
                <div class="contacts">
                    <div class="contact">
                        <span class="label">{{ 'footer.email' | trans }}: </span>
                        <a class="value" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a>
                    </div>
                    <div class="contact">
                        <span class="label">{{ 'footer.phone' | trans }}: </span>
                        <a class="value" target="_blank" href="tel:{{ location.phone }}">{{ location.phone }}</a>
                    </div>
                    <div class="contact">
                        <span class="label">{{ 'footer.address' | trans }}: </span>
                        <a class="value" target="_blank" href="tel:+37063673520">{{ location.address }}</a>
                    </div>
                </div>
                <a href="{{ path('location contacts', {id: location.id}) }}" class="link">{{ 'footer.get_in_touch' | trans }}</a>
            </div>
            <div class="content">
                <h4 class="title">{{ 'footer.subscribe' | trans }}</h4>
                <p class="description">{{ 'footer.subscribe_description' | trans }}</p>
                <form class="subscribe-form">
                    <label class="label" for="email">{{ 'footer.email' | trans }}</label>
                    <input placeholder="{{ 'footer.email' | trans }}" class="input" id="email" name="email">
                    <button class="button button-primary">{{ 'footer.subscribe' | trans }}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <span class="copyrights">
                &copy; {{ "now" | date('Y') }} {{ 'footer.created_by' | trans }} <a target="_blank" href="#">Vytautas Saulis</a>. {{ 'footer.all_rights_reserved' | trans}}.
            </span>
        </div>
    </div>
</footer>
