<footer class="footer">
    <div class="container">
        <div class="top">
            <div class="side">
                {% include 'includes/locales.html.twig' %}
            </div>
            {% include 'includes/social.html.twig' %}
        </div>
        <div class="middle">
            <div class="content">
                <h4 class="title">{{ 'footer.about_us' | trans }}</h4>
                <p class="description">{{ location.description(app.request.locale) | trans }}</p>
                <a href="{{ path('location home', {id: location.id}) }}" class="link">{{ 'footer.read_more' | trans }}</a>
            </div>
            <div class="content">
                <h4 class="title">{{ 'titles.contact_details' | trans }}</h4>
                <div class="content-details">
                    <div class="labels-container">
                        <span class="label">{{ 'labels.email' | trans }}: </span>
                        <span class="label">{{ 'labels.phone' | trans }}: </span>
                        <span class="label">{{ 'labels.address' | trans }}: </span>
                    </div>
                    <div class="values-container">
                        <a class="value" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a>
                        <a class="value" target="_blank" href="tel:{{ location.phone }}">{{ location.phone }}</a>
                        <a class="value" target="_blank" href="https://www.google.lt/maps/place/{{ location.address }}">{{ location.address }}</a>
                    </div>
                </div>
                <a href="{{ path('location contacts', {id: location.id}) }}" class="link">{{ 'footer.get_in_touch' | trans }}</a>
            </div>
            <div class="content">
                <h4 class="title">{{ 'footer.details' | trans }}</h4>
                <div class="content-details">
                    <div class="labels-container">
                        <span class="label">{{ 'labels.company_name' | trans }}: </span>
                        <span class="label">{{ 'labels.company_code' | trans }}: </span>
                        <span class="label">{{ 'labels.company_vat' | trans }}: </span>
                        <span class="label">{{ 'labels.company_iban' | trans }}: </span>
                        <span class="label">{{ 'labels.company_bank' | trans }}: </span>
                    </div>
                    <div class="values-container">
                        <span class="value">{{ location.companyName }}</span>
                        <span class="value">{{ location.companyCode }}</span>
                        <span class="value">{{ location.companyVAT }}</span>
                        <span class="value">{{ location.companyIban }}</span>
                        <span class="value">{{ location.companyBank }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <span class="copyrights">
                &copy; {{ "now" | date('Y') }} {{ 'footer.created_by' | trans }} <a target="_blank" href="#">Vytautas Saulis</a>. {{ 'footer.all_rights_reserved' | trans}}.
            </span>
        </div>
    </div>
</footer>
