<div class="hotels">
    {% for hotel in hotels %}
        {% if hotel.rooms | length > 0 %}
            <div class="hotel">
                <div class="hotel-content">
                    <div class="image-container">
                        {% set room = hotel.rooms|first %}
                        {% if room %}
                            <img class="image" alt="{{ room.title(app.request.locale) }}" src="{{ vich_uploader_asset(room.featuredPhoto, 'file') }}"/>
                        {% endif %}
                    </div>
                    <div class="details">
                        <h3 class="details-title">{{ hotel.title(app.request.locale) }}</h3>
                        <div class="address-container">
                            <i class="fa fa-map-marker"></i>
                            <span class="details-address">{{ hotel.address }}</span>
                        </div>
                        <p class="details-description">{{ hotel.description(app.request.locale) }}</p>
                        <div class="actions">
                            <span class="details-price">{{ hotel.minPrice | priceFormat }} - {{ hotel.maxPrice | priceFormat }}</span>
                            <a href="{{ path('location hotel', {id: location.id, hotelId: hotel.id}) }}" class="button button-primary">{{ 'titles.rooms' | trans }} ({{ hotel.rooms | length }})</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>