<div class="cards">
    {% for room in rooms %}
        <div class="card">
            <div class="card-content">
                <img class="card-image" alt="{{ room.title(app.request.locale) }}" src="{{ vich_uploader_asset(room.featuredPhoto, 'file') }}"/>
                <div class="card-details">
                    <h3 class="card-title">{{ room.title(app.request.locale) }}</h3>
                    <p class="card-description">{{ room.description(app.request.locale) }}</p>
                    <div class="card-footer">
                        <span class="card-price">{{ room.price | priceFormat }}</span>
                        <a href="{{ path('location hotel room', {id: location.id, roomId: room.id, hotelId: room.hotel.id}) }}" class="button button-secondary button-small">{{ 'galleries.view' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>