{% if pagesCount > 1 %}
    <div class="paging">
        {% if page > 1 %}
            <a class="page page-link" href="{{ getPagingRoute(1, app.request) }}"><i class="material-icons">first_page</i></a>
            <a class="page page-link" href="{{ getPagingRoute(page - 1, app.request) }}"><i class="material-icons">chevron_left</i></a>
        {% endif %}
        <div class="pages">
            {% for i in max(1, page - 5)..min(page + 5, pagesCount) %}
                {% if i == page %}
                    <span class="page active">{{ i }}</span>
                {% else %}
                    <a class="page" href="{{ getPagingRoute(i, app.request) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% if page < pagesCount %}
            <a class="page page-link" href="{{ getPagingRoute(page + 1, app.request) }}"><i class="material-icons">chevron_right</i></a>
            <a class="page page-link" href="{{ getPagingRoute(pagesCount, app.request) }}"><i class="material-icons">last_page</i></a>
        {% endif %}
    </div>
{% endif %}